<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="gustavorivera.proyectogrado.gbba.modulomedicogbba"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListaFichas"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Bluetooth"
            android:label="BT">

            <intent-filter>
                <action android:name="android.intent.action.BTTesis"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".Ficha"
            android:label="Fichas"/>
        <activity
            android:name=".Login"
            android:label="Login"/>


        <activity
            android:name=".FichaGrafica"
            android:label="Grafica de Prueba"
            android:screenOrientation="landscape"/>
    </application>

</manifest>
